In [3]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
import pandas as pd

1. Use a livraria ‘mlxtend’ para extrair os padrões frequentes do dataset, aplicando o algoritmo FPGrowth. Considere um suporte mínimo de 60%.

In [4]:
dataset = [['Leite', 'Cerveja', 'Pão'], 
 ['Leite', 'Cerveja', 'Frutas'], 
 ['Leite', 'Cerveja'], 
 ['Leite', 'Pão']]

In [5]:
te = TransactionEncoder()

df = pd.DataFrame(te.fit(dataset).transform(dataset), columns=te.columns_)
df

   Cerveja  Frutas  Leite    Pão
0     True   False   True   True
1     True    True   True  False
2     True   False   True  False
3    False   False   True   True

In [6]:
fpgrowth(df, min_support=0.6)

   support itemsets
0     1.00      (2)
1     0.75      (0)
2     0.75   (0, 2)

2. Analise o dataset ‘ComprasOnline.xlsx’. 
a) Detete problemas nos dados, como por exemplo existência de NAs e faça um pré 
processamento de limpeza nos mesmos.

In [7]:
df = pd.read_excel("ComprasOnline.xlsx")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
2,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
3,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
541905,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541906,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB